<html>
    <head>
        <title>Gandalf</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style1.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="content" style="text-align:center">
                <form method="GET" action="">
                <input type="submit" value="Türe auf" name="go" />           
                </form>
            </div>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <div id="container">
            <div id="content" style="text-align:center">
                <form method="GET" action="">
                <input type="submit" value=" " name="go" />
                </form>
            </div>
        </div>
	<footer>
          <a href="https://github.com/kaeptenbalu/tuere">
           </a>
	</footer>
    </body>
</html>
