<html>
    <head>
        <title>Gandalf</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <div id="container">
            <div id="content" style="text-align:center">
                <form method="GET" action="">
                <input type="submit" value="You shall not pass!" name="go" />           
                </form>
            </div>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <div id="container">
            <div id="content" style="text-align:center">
                <form method="GET" action="">
                <input type="submit" value=" " name="go" />
                </form>
            </div>
        </div>
	<footer>
  		<a href="https://github.com/kaeptenbalu/tuere">
                <img src="{{ url_for('static',filename="git.png")}}" alt="" style="width:42px;height:42px;border:0; margin: 0px 0px;">
                </a>
	</footer>
    </body>
</html>
